:root {
	--white-color: #fafafa;
	--black-color: #212121;
	--green-color: #37ee00;
	--purple-color: purple;
}

* {
	box-sizing: border-box;
}

body {
	margin: 16px;
	font-family: "Press Start 2P", cursive;
	font-size: 10px;
	background-color: var(--white-color);
	line-height: 1.5;
}

input {
	padding: 8px;
	font: inherit;
}

button {
	font-family: "Press Start 2P", cursive;
	padding: 8px 12px;
	cursor: pointer;
	margin-top: 15px;
	margin-bottom: 15px;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.button {
	font-size: 16px;
	letter-spacing: 2px;
	text-decoration: none;
	text-transform: uppercase;
	color: #000;
	cursor: pointer;
	border: 3px solid;
	padding: 0.25em 0.5em;
	box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px,
		5px 5px 0px 0px;
	position: relative;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

.button:active {
	box-shadow: 0px 0px 0px 0px;
	top: 5px;
	left: 5px;
}

@media (min-width: 768px) {
	.button {
		padding: 0.25em 0.75em;
	}
}

.input-field {
	width: 100px;
}

/* The switch - the box around the slider */
.switch-theme {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

/* Hide default HTML checkbox */
.switch-theme input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

input:checked + .slider {
	background-color: var(--green-color);
}

input:focus + .slider {
	box-shadow: 0 0 1px var(--green-color);
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

/* PERSONAL STYLES */

.main-list-pages {
	font-size: 20px;
	display: block;
	align-items: center;
	padding: 0;
}

.main-list__item {
	display: flex;
	justify-content: center;
	padding-bottom: 20px;
}

.main-list-pages__link {
	color: purple;
}

/* DARK THEME */

html.dark,
.dark body {
	font-family: "Press Start 2P", cursive;
	font-size: 10px;
	background-color: var(--black-color);
	line-height: 1.5;
}

.dark .main-list-pages__link {
	color: var(--green-color);
	background-color: red;
}
